.aboutbannerdiv {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

figure {
    margin: 0;
    padding: 0;
}

.aboutbannerdiv::after {
    position: absolute;
    content: "";
    z-index: 2;
    background-color: rgb(0 3 6 / 47%);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.aboutbannerdiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abouthypertxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.abouthypertxt i{
    color: #fff;
    margin: 0px 5px;
}

.abouthypertxt p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.abouthypertxt a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.abouttextdiv {
    width: 100%;
    height: auto;
    padding: 0px 0px 220px 0px;
    position: relative;

}

.divabout {
    background-color: #224855;
    width: 100%;
    position: absolute;
    width: 100%;
    max-width: 70%;
    border-radius: 10px;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transform: translate(-50%, -50%);
    padding: 10px 0px;
}

.aboutbgtxt {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    padding: 20px 0px;
    position: relative;
    font-family: Times New Roman, serif;
    letter-spacing: 1px;
}

.aboutbgtxt::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #fff;
    z-index: 9;
    bottom: -5px;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.abtspcltxt {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    padding: 20px 40px;
}

/* company overview start */

.compOverview {
    width: 100%;
    height: auto;
    padding: 50px 0px 30px;
}

.PageHead {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    margin-bottom: 30px;
    text-align: center;
    font-family: Times New Roman, serif;
    position: relative;
}

.PageHead::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: #224855;
}

.compOverPara {
    font-size: 14px;
    line-height: 22px;
    color: #000;
    margin-top: 10px;
}

.compOverviewBtm {
    padding-top: 30px;
}

.overviewimgFig {
    width: 100%;
    height: 250px;
    border: 1px solid #dee2e6;
    padding: 4px;
    border-radius: 6px;
    overflow: hidden;
}

.overviewimgFig img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition-property: all;
    transition-duration: 700ms;
}

.overviewimgFig:hover img {
    transform: scale(1.15);
}


/* company overview end */

/* community start */

.community {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.communitybtm {
    padding-top: 20px;
}

.communitybtm ul li {
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    margin-bottom: 10px;
}

.communitybtm ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    /* transform: translateY(-50%); */
    width: 10px;
    height: 10px;
    background-color: #224855;
}

/* community end */

/* clients section start */

.clientsSec {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.clientsBtm {
    padding-top: 20px;
}

.clientSlide {
    width: 100%;
}

.clientimgFig {
    width: 150px;
    height: auto;
    margin: 0px auto;
}

.clientSlide img {
    width: 100%;
    height: 100%;
}

/* clients section end */

/* chairman msg start */

.chairmanMsg {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.chairmanoverlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(21 63 82 / 70%);
    z-index: 1;
}

.chairmanMsgInn {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chairmanFig {
    width: 40%;
    height: auto;
}

.chairmanFig img {
    width: 100%;
    height: 100%;
}

.chairmanTxt {
    width: 55%;
}

.chairmanTopText {
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    font-family: "Freehand", cursive;
    padding-left: 10px;
    position: relative;
}

.chairmanTopText::before {
    content: '\f10d';
    font-family: fontawesome;
    position: absolute;
    top: -30px;
    left: 0;
    color: #fff;
    font-size: 40px;
}

/* .chairmanTopText::after {
    content: '\f10e';
    font-family: fontawesome;
    position: absolute;
    bottom: -20px;
    color: #fff;
    font-size: 40px;
} */

.chairmanName{
    color: #fff;
    font-size: 22px;
    padding-top: 20px;
    margin-bottom: 5px;
    font-family: "Freehand", cursive;
}


/* chairman msg end */

/* Responsive */

@media (max-width: 1399px){
    .divabout{
        top: 15%;
    }

    .abouttextdiv {
        padding: 0px 0px 250px 0px;
    }

    .abtspcltxt {
        line-height: 24px;
        padding: 15px 30px;
    }

    .aboutbgtxt{
        padding: 13px 0px;
    }
}

@media(max-width:1199px) {
    .abtspcltxt {
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
        padding: 15px 40px;
    }

    .aboutbgtxt {
        padding: 9px 0px;
        position: relative;
    }

    .aboutbgtxt::after {
        margin-top: 23px;
    }

    .aboutbgtxt {
        font-size: 17px;
    }

    .chairmanTopText {
        font-size: 25px;
        line-height: 40px;
    }

    .chairmanTopText::before{
        font-size: 30px;
    }

    .divabout{
        top: 0;
    }
}

@media(max-width:991px) {
    .aboutbgtxt::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #fff;
        z-index: 9;
        width: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 22px;
    }

    .abtspcltxt {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        padding: 15px 40px;
    }

    .chairmanMsgInn{
        flex-direction: column;
    }

    .chairmanTxt {
        width: 100%;
        padding-top: 40px;
    }

    .chairmanFig {
        width: 100%;
        height: auto;
    }
}

@media(max-width:767px) {
    .divabout {
        background-color: #224855;
        width: 100%;
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        z-index: 2;
        top: 0%;
        left: 0%;
        overflow: hidden;
        transform: translate(0%, 0%);
    }

    .abouttextdiv {
        width: 100%;
        height: auto;
        padding: 30px 0px 30px 0px;
        position: relative;
    }

    .abtspcltxt {
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        line-height: 17px;
        padding: 15px 40px;
    }

    .PageHead {
        font-size: 20px;
    }

    .compOverview {
        padding: 30px 0px;
    }

    .compOverPara {
        font-size: 13px;
    }

    .overviewimgFig {
        height: 200px;
    }

    .clientimgFig {
        width: 120px;
    }
}

@media (max-width: 575px) {
    .aboutbgtxt {
        font-size: 15px;
    }

    .aboutbgtxt::after {
        width: 75%;
    }

    .aboutbannerdiv {
        width: 100%;
        height: 250px;
        position: relative;
    }

    .compOverview {
        padding: 10px 0px 30px;
    }

    .compOverPara {
        font-size: 12px;
    }

    .overviewimgFig {
        height: auto;
    }

    .community {
        padding: 10px 0px 20px;
    }

    .clientsSec {
        padding: 10px 0px 20px;
    }

    .communitybtm {
        padding-top: 0px;
    }

    .communitybtm ul li {
        font-size: 13px;
        padding-left: 15px;
    }

    .communitybtm ul li::before {
        width: 8px;
        height: 8px;
    }

    .chairmanTopText {
        font-size: 22px;
        line-height: 35px;
    }

    .chairmanTopText::before {
        font-size: 25px;
    }

    .chairmanName {
        font-size: 20px;
        padding-top: 10px;
    }

}

@media(max-width:480px) {
    .abtspcltxt {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        padding: 15px;
    }

    .aboutbannerdiv {
        width: 100%;
        height: 190px;
        position: relative;
    }

    .abouthypertxt p {
        color: #ffffff;
        font-size: 13px;
        font-weight: 800;
        line-height: 20px;
        margin-left: 4px;
        text-transform: uppercase;
    }

    .abouthypertxt a {
        color: #ffffff;
        font-size: 13px;
        font-weight: 800;
        line-height: 20px;
    }

    .clientimgFig {
        width: 100px;
    }
}

@media(max-width:420px) {
    .aboutbgtxt {
        font-size: 12px;
    }

    .abtspcltxt {
        padding: 13px 24px;
    }
}