* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

p,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.custContainer {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

/* book button */

.bookBtndiv {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #FFC107;
    z-index: 10;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.bookBtn {
    width: 100%;
    height: 100%;
    font-size: 13px;
    background: none;
    border: none;
    outline: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 30px;
}

/* book us modal */

.bookusSec {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.bookUsInn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 450px;
    border-radius: 5px;
}

.modalclose {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modalclose i {
    color: #000;
    font-size: 15px;
}

.bookusHead {
    padding: 12px 15px;
    background: #ffc107;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
}

.bookusBtm {
    padding: 15px;
}

.bookradioDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bookradio {
    width: 48%;
}

.bookradio input {
    width: 13px;
    height: 13px;
    accent-color: #237d9e;
}

.bookform {
    padding: 15px 0px;
}

.bookform input,
.bookform select {
    width: 100%;
    display: block;
    padding: 7px 8px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #D0D0D0;
    font-size: 14px;
    border-radius: 3px;
}

.bookform input:focus,
.bookform select:focus {
    border: 1px solid #237d9e;
    outline: 0;
}

#modalFrmFlx {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.sendotp {
    width: 30%;
    background: #237d9e;
    border: 1px solid #237d9e;
    border-radius: 3px;
    display: inline-block;
    padding: 7px 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    transition-property: all;
    transition-duration: 700ms;
}

.sendotp:hover {
    background: transparent;
    color: #237d9e;
}

.modalFrmBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

.modalfrmsubmit {
    background: #ffc107;
    color: #000;
    border: 1px solid #ffc107;
    outline: 0;
    padding: 10px 12px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
    transition-property: all;
    transition-duration: 700ms;
}

.modalfrmsubmit:hover {
    background: transparent;
}

/* sidebar start */

.sidebarSection {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    transition-property: all;
    transition-duration: 400ms;
    background-color: rgba(0, 0, 0, 0.4);
}

.innerSidebar {
    width: 300px;
    height: 100%;
    transition-property: all;
    transition-duration: 600ms;
    transform: translate(-300px, 0);
    background-color: #fff;
}

.closeSidebarBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    outline: 0;
}

.closeSidebarBtn i {
    color: #000;
    font-size: 18px;
}

.sideLogoDiv {
    border-bottom: 4px solid #fcba12;
    background: rgba(247, 245, 245, 1);
    padding: 25px 20px;
}

.sideLogoFig {
    width: 50px;
    height: auto;
    margin: 0px auto;
}

.sideLogoFig img {
    width: 100%;
    height: 100%;
}

.SideLogoTxt {
    color: #237d9e;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    border-top: 1px solid #237D9E;
    border-bottom: 1px solid #237D9E;
    padding: 3px 0px;
    text-transform: uppercase;
    text-align: center;
}

.SideLogoTxt:hover {
    color: #237d9e;
}

.sidebarUl li {
    border-bottom: 1px solid #eaeaea;
}

.sidebarUl li a {
    display: block;
    padding: 24px;
    font-size: 15px;
    color: #237D9E;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    background-color: #fff;
    letter-spacing: 1px;
}

.sidebarUl li a:hover {
    background-color: #237d9e;
    color: #fff;
}

/* back to top button */

.backtoTopBtn {
    background-color: #224855;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #ccc;
    position: fixed;
    bottom: 70px;
    right: 40px;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}

.backtoTopBtn i {
    color: #fff;
    font-size: 20px;
    animation: UpDown 2s ease-in-out infinite;
    position: relative;
    bottom: 0;
    cursor: pointer;
}

.backtoTopBtn:hover {
    cursor: pointer;
}

.backtoTopBtn.show {
    opacity: 1;
    visibility: visible;
}

@keyframes UpDown {
    0% {
        bottom: -6px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: -6px;
    }
}

/* sticky header */

.pageheader {
    position: relative;
    transition: 0.3s;
}

.pageheader.is-sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* Header start */

.header {
    width: 100%;
    height: auto;
}

.topheader {
    background-color: #237d9e;
    color: #fff;
    padding: 10px 0px;
}

.topHeadInn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderIconSide {
    display: flex;
    gap: 15px;
}

.HeaderIconSide i {
    color: #fff;
    font-size: 15px;
}

.headerDet {
    display: flex;
    gap: 15px;
}

.lwrInnerRhtLi {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lwrInrPara {
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.lwrRhtIconDiv {
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 5px 0px rgb(255 255 255 / 50%), 3px 3px 5px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.lwrRhtIconDiv i {
    font-size: 12px;
    color: #237d9e;
}

/* mid header */

.midheaderInn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.headLogoFig {
    width: 50px;
    height: auto;
    margin: 0px auto;
}

.headLogoFig img {
    width: 100%;
    height: 100%;
}

.HeadLogoTxt {
    color: #237d9e;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    border-top: 1px solid #237D9E;
    border-bottom: 1px solid #237D9E;
    padding: 3px 0px;
    text-transform: uppercase;
}

.HeadLogoTxt {
    color: #237d9e;
}

.SerInpDiv {
    width: 35%;
    font-size: 12px;
    height: 40px;
    line-height: 16px;
    color: #9A9A9A;
    background-color: #fff;
    border: 1px solid #D0D0D0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.SerInpDiv input {
    width: 93%;
    height: 100%;
    padding: 5px 10px;
    border: none;
    outline: 0;
    font-size: 14px;
}

.headSerBtn {
    width: 7%;
    height: 100%;
    background: none;
    border: none;
}

.headSerBtn i {
    font-size: 15px;
}

.headSerBtn:hover {
    background-color: #237d9e;
}

.headSerBtn:hover i {
    color: #fff;
}

.headCallDiv {
    display: flex;
    align-items: center;
    gap: 3px;
}

.headCerti {
    width: 110px;
    margin-right: 20px;
}

.headCerti img {
    width: 100%;
    height: 100%;
}

.headCard {
    color: #fff;
    padding: 0 32px;
    letter-spacing: .5px;
    text-transform: uppercase;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.headCard h5 {
    font-size: 10px;
}

.headCard p {
    font-size: 12px;
    font-weight: 600;
}

.headCard:hover {
    background-color: #237d9e !important;
}

.avlblimg {
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}

.avlblimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.RespMenu {
    display: none;
}

.respHeadUl {
    display: flex;
}

.respHeadLi {
    list-style-type: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    box-shadow: 0 0 5px 0 #2c2c2cc0;
    background-color: #fff;
    transition-property: all;
    transition-duration: 300ms;
    border-radius: 50%;
}

.respHeadLiAn {
    color: #237d9e;
    font-size: 18px;
    background-color: transparent;
    border: 0;
}

.searchDivRes {
    width: 100%;
    margin: 8px 0px;
    display: none;
}

.serDivResInn {
    display: flex;
    justify-content: space-between;
    border: 1px solid #237d9e;
    border-radius: 5px;
    height: 30px;
}

.searchDivResInp {
    width: 90%;
    height: 100%;
    border: none;
    outline: 0;
    background-color: transparent;
    padding: 5px;
    font-size: 14px;
}

.searchDivResInp::placeholder {
    font-size: 12px;
}

.searchDivResIcon {
    width: 10%;
    height: 100%;
    background-color: #237d9e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDivResIcon i {
    color: #fff;
    font-size: 15px;
}

/* bottom header */

.btmheader {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 6px 0px;
}

.btmHeaderUl {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.btmHeaderUl li {
    padding: 12px 14px;
}

.btmHeaderUl li:first-child {
    padding-left: 0;
}

.btmHeaderUl li a {
    font-size: 13px;
    color: #000;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btmHeaderUl li i {
    color: #000;
    margin-left: 8px;
    font-size: 10px;
}

.btmHeaderUl li:hover .headNavLink,
.btmHeaderUl li:hover .headNavLink {
    color: #237d9e;
}

.activeHeadLink {
    color: #237D9E !important;
    font-weight: 700;
    position: relative;
}

.activeHeadLink::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: #237D9E;
}

/* Header end */

/* Banner part start */

.banner {
    width: 100%;
    height: auto;
}

.banner-slide {
    width: 100%;
    height: 500px;
}

.banner-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.banBtm {
    background-color: #FCBA12;
    padding: 20px 0px;
}

.banBtmInn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.banInfoDiv {
    display: flex;
    gap: 15px;
}

.banInfoDiv i {
    color: #000;
    font-size: 20px;
}

.banInfoDiv h5 {
    color: #262626;
    display: block;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.banInfoDiv p {
    color: #000000;
    font-size: 13px;
    line-height: 20px;
}

.Banreadbtn {
    width: 120px;
    height: 40px;
    border: 1px solid #000;
    background: transparent;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 700ms;
}

.Banreadbtn:hover {
    background: #237D9E;
    border: 1px solid #237D9E;
    color: #fff;
    border: none;
    border-radius: 0;
}

/* Banner part end */

/* why choose us section start */

.whyusSection {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.whyusSecInn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.whyusDet {
    width: 55%;
}

.whyusimg {
    width: 40%;
    height: auto;
}

.whyusimgFig {
    width: 100%;
    height: auto;
}

.whyusimgFig img {
    width: 100%;
    height: 100%;
}

.whyusSmallHead {
    color: #9A9A9A;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

.whyusHead {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Times New Roman, serif;
}

.whyusPara {
    color: #000;
    font-size: 14px;
    line-height: 22px;
}

.whyChooseDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.whychoosePoint {
    width: 48%;
    padding: 15px 0px;
    position: relative;
}

.whychoosePoint i {
    color: #224855;
    font-size: 15px;
    margin-right: 5px;
}

.whyChooseHead {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}

.whyChoosePara {
    color: #262626;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

/* why choose us section end */

/* connect with us start */

.connectwithUs {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: rgba(247, 245, 245, 1);
}

.connectWithusInn {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.connectTxt {
    width: 25%;
}

.connectFig {
    width: 50px;
    height: auto;
}

.connectFig img {
    width: 100%;
    height: 100%;
}

.connectHead {
    margin-bottom: 15px;
    font-size: 16px;
    margin-top: 10px;
}

.connectBigHead {
    margin-bottom: 10px;
    line-height: 28px;
    font-size: 18px;
    color: #262626;
}

.connectPara {
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.connectVideo {
    width: 50%;
    padding: 15px;
    background: #fff;
    box-shadow: 2px 2px 30px rgb(35 125 158 / 10%);
    position: relative;
}

.connectVideo iframe {
    width: 100%;
    height: 350px;
}

.connectTab {
    width: 25%;
}

.connectTab #tabs-content {
    height: 300px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 4px 0px #ccc;
}

.connectTab #tabs-content::-webkit-scrollbar {
    width: 5px;
}

.connectTab #tabs-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.connectTab #tabs-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.connectTabUl {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.connectTabUl li {
    background: #EAEAEA;
    border-radius: 20px;
    border: 1px solid #d8d4d4;
    min-width: 80px;
    text-align: center;
}

.connectTabUl li a {
    padding: 6px 10px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    display: block;
}

.connectTabUl li.active {
    background-color: #151515;
}

.connectTabUl li.active a {
    color: #fff;
}

.connectContentInn {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    height: 85px;
    overflow: hidden;
    padding: 6px 5px;
}

.connectVidTabDiv {
    width: 40%;
    height: 100%;
    position: relative;
}

.connectVidTabDiv img {
    width: 100%;
    height: 100%;
}

.vidplaybtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.vidplaybtn a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vidplaybtn i {
    color: #fff;
    font-size: 18px;
}

.connectVidRgt {
    width: 58%;
}

.connectVidHead {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #262626;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.connectVidHead:hover {
    color: #262626;
}

.connectVidDate {
    font-size: 11px;
    color: #8a8a8a;
    margin-bottom: 0px;
}

/* connect with us end */

/* excellence section start */

.HospitalAbt {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.HospitalAbtTop {
    text-align: center;
}

.HospitalAbtTop h5 {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    font-family: Times New Roman, serif;
}

.HospitalAbtTop p {
    color: #000;
    font-size: 14px;
    line-height: 24px;
    max-width: 496px;
    margin: 15px auto;
}

/* tab panel */

.HospitalAbtBtm {
    padding-top: 40px;
}

.HospitalAbtBtm .nav {
    display: flex;
    flex-direction: column;
}

.tabBtnLink {
    background-color: rgba(247, 245, 245, 1) !important;
    color: #000;
    padding: 12px 24px !important;
    margin-bottom: 3px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

.tabBtnLink span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.tabBtnLink img {
    width: 18px;
    margin-right: 10px;
}

.tabBtnLink.active {
    background-color: #237d9e !important;
    color: #fff;
}

.tabBtnLink:hover {
    background-color: #237d9e !important;
    color: #fff !important;
}

.tabBan {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.tabBan img {
    width: 100%;
    height: 100%;
}

.tabContentHead {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.tabContentPara {
    color: #262626;
    font-size: 13px;
    line-height: 22px;
    margin-top: 0;
}

.HeartList {
    border-top: 1px solid #EAEAEA;
    padding: 20px 0px;
    margin-top: 15px;
}

.HeartList ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    padding: 15px 0px;
}

.HeartList ul li {
    width: 30%;
}

.HeartList ul li::before {
    content: '\f058';
    font-family: fontawesome;
    color: #237d9e;
    font-size: 14px;
    margin-right: 8px;
}

.HeartList ul li a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.tabContentBtnDiv {
    padding-top: 20px;
}

.tabContentBtn {
    border: 1px solid #000;
    background: transparent;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 0;
    outline: 0;
    color: #000;
    transition-property: all;
    transition-duration: 700ms;
}

.tabContentBtn:hover {
    background: #237d9e;
    color: #fff;
    text-decoration: none;
    border: none;
}

.tabBigHead {
    color: #224855;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.highlightList {
    padding-top: 15px;
}

.highlightList ul li {
    color: #262626;
    font-size: 13px;
    line-height: 26px;
    position: relative;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(247, 245, 245, 1);
}

.highlightList ul li::before {
    content: '\f14a';
    font-family: fontawesome;
    color: #224855;
    font-size: 13px;
    margin-right: 8px;
}

/* excellence section end */

/* patient speak start */

.patientSpeak {
    width: 100%;
    height: auto;
    padding: 30px 0px;
    background-color: rgba(247, 245, 245, 1);
}

.patientSpkTop {
    text-align: center;
}

.patientSpkTop p {
    color: #9A9A9A;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.patientSpkTop h5 {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    margin-bottom: 10px;
    font-family: Times New Roman, serif;
}

.patientSpkBtm {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.patSpkImg {
    width: 45%;
    height: auto;
    display: flex;
    gap: 10px;
}

.patspklft {
    width: 40%;
    position: relative;
}

.patspkfigOne {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 30px;
}

.patspkfigOne img {
    width: 100%;
    height: 100%;
}

.patspkfigtwo {
    width: 100%;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 25px;
}

.patspkfigtwo img {
    width: 100%;
    height: 100%;
}

.patSpkRgt {
    width: 60%;
    height: 480px;
}

.patSpkRgt img {
    width: 100%;
    height: 100%;
}

.patSpkReview {
    width: 50%;
    height: auto;
}

.patSpkRvInn {
    max-height: 380px;
    overflow: hidden;
}

.PatSpkTxt {
    border-bottom: 1px solid #EAEAEA;
    padding: 20px 0px;
}

.PatSpkTxt:first-child {
    padding-top: 0;
}

.patReviewName {
    color: #262626;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
}

.verifyTxt {
    color: #FCBA12;
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: .5px;
    margin-top: 8px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.verifyTxt i {
    margin-right: 5px;
    font-size: 11px;
}

.patReview {
    color: #262626;
    font-size: 12px;
    line-height: 20px;
}

.viewAllReviewbtn {
    padding-top: 30px;
}

.viewallBtn {
    color: #224855;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: bold;
    border: none;
    background: none;
    outline: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewallBtn i {
    color: #224855;
    font-size: 12px;
    padding-left: 5px;
}

.viewallBtn:hover {
    text-decoration: underline;
    color: #224855;
}

/* patient speak end */

/* news section start */

.newsSec {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.newsSecTop {
    text-align: center;
}

.newsSecTop p {
    color: #9A9A9A;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.newsSecTop h5 {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    margin-bottom: 10px;
    font-family: Times New Roman, serif;
}

.newsSecBtm {
    margin-top: 50px;
    position: relative;
}

.newsSlide {
    height: 370px;
    padding: 15px;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.10);
    /* overflow: hidden; */
}

.newsimgFig {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.newsimgFig img {
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-duration: 700ms;
}

.newsSlide:hover .newsimgFig img {
    transform: scale(1.15);
}

.newsText p {
    font-size: 14px;
    line-height: 22px;
    font-family: Times New Roman, serif;
    margin-top: 16px;
    margin-bottom: 16px;
    max-height: 66px;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    width: 100%;
    color: #151515;
}

.newsText p:hover {
    color: #151515;
}

.newsSwiper {
    overflow-y: visible;
    position: static;
}

.newsSwiper .swiper-button-prev {
    position: absolute;
    top: -25px;
    left: 0px;
}

.newsSwiper .swiper-button-prev::after {
    content: '\f137';
    font-family: fontawesome;
    color: #224855;
    font-size: 25px;
}

.newsSwiper .swiper-button-next {
    position: absolute;
    top: -25px;
    left: 45px;
}

.newsSwiper .swiper-button-next::after {
    content: '\f138';
    font-family: fontawesome;
    color: #224855;
    font-size: 25px;
}

/* news section end */

/* home page end */

/* contact page start */

/* contact box part */

.ContactTopSec {
    width: 100%;
    height: auto;
    padding: 30px 0px;
    background-color: #224855;
}

.contactTopInn {
    display: flex;
    justify-content: space-between;
}

.contactTopDiv {
    width: 24%;
    color: #fff;
    border-right: 1px solid #8a8a8a;
    padding: 0px 20px;
}

.contactTopDiv:last-child {
    border: none;
}

.contactTopDiv i {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}

.contactTopDivHead {
    color: #fff;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 18px;
    line-height: 24px;
    margin: 8px 0;
    font-family: "Lato", sans-serif;
}

.contactTopDivPara {
    color: #fff;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
}

.contactTopLink {
    color: #FCBA12;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 24px;
}

.contactTopLink:hover {
    color: #FCBA12;
}

/* contact us form */

.contactform {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.contact_top {
    margin-bottom: 30px;
    text-align: center;
}

.contacttophead {
    color: #224855;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Times New Roman, serif;
}

.contacttoppara {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.contactmain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 30px;
    box-shadow: 0px 2px 18px 7px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */
}

.contacticon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacticonwrap {
    width: 35px;
    height: 35px;
    margin: 0px 10px;
}

.contacticonwrap img {
    width: 100%;
    height: 100%;
}

.contactleft {
    width: 45%;
    margin-right: 20px;
    padding: 20px 15px;
}

.contactright {
    width: 55%;
    /* backdrop-filter: blur(2px); */
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.6);
    padding: 20px 15px;
    border-radius: 8px;
}

.contactright form {
    width: 100%;
    padding: 20px 15px;
}

.contactright form input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    outline: 0;
    font-style: italic;
}

.contactright form select {
    width: 49%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    outline: 0;
    font-style: italic;
}

.contactformFlex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contactright form input::placeholder,
.contactright form select::placeholder {
    font-size: 14px;
    color: #000;
}

.contactright form textarea::placeholder {
    font-size: 14px;
    color: #000;
}

.contactright form textarea {
    width: 100%;
    resize: none;
    outline: 0;
    padding: 5px 10px;
    font-style: italic;
    border: none;
    border-radius: 8px;
}

.submitbtndiv {
    display: flex;
    justify-content: center;
    align-items: "center";
}

.submitbtn {
    width: 150px;
    height: 40px;
    background-color: #246a00;
    color: white;
    border: none;
    border-radius: 15px;
    outline: 0;
    box-shadow: 0px 2px 13px 0px rgba(255, 254, 254, 0.7);
}

.contacthead {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
}

.contactpara {
    margin: 15px 0px;
    color: white;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    font-style: italic;
}

.contactadd {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 10px 0px;
}

.contactadd i {
    font-size: 20px;
    margin-right: 10px;
    color: #00ad00;
}

.contactadd p {
    color: white;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 25px;
}

.contactMap {
    width: 100%;
    height: auto;
}

.contactMap #Map {
    height: 350px;
    width: 100%;
}

/* contact page end */

/* doctor page start */

.docTopFilter {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.docTopInn {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.docTopInn select {
    min-width: 200px;
    height: 40px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    outline: none;
    border: 0;
    background: none;
    padding: 8px 10px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 72%, rgba(236, 236, 236, 1) 100%);
    border-radius: 100px;
}

.docBtmDet {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.docBtmDetInn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.docDetCard {
    width: 49%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 0 30px 0px rgb(0 0 0 / 30%);
    ;
}

.docCardfig {
    width: 30%;
    height: auto;
}

.docCardfig img {
    width: 100%;
    height: 100%;
}

.docCardTxt {
    width: 68%;
}

.docCardTxtTop {
    height: 70px;
    border-bottom: 1px solid #8a8a8a;
    overflow: hidden;
}

.docCardName {
    color: #237d9e;
    font-size: 15px;
    font-weight: 600;
}

.docCardProf {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.docCardTxtBtm {
    padding-top: 15px;
}

.docCardQuali {
    font-size: 13px;
    line-height: 20px;
    color: #000;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.docCardBookbtn {
    background-color: rgb(249 121 74);
    margin-top: 20px;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    transition-property: all;
    transition-duration: 700ms;
}

.docCardBookbtn:hover {
    background-color: #237d9e;
}

.docPgBtn {
    padding-top: 10px;
    padding-bottom: 30px;
}

.docPgBtnInn {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.docPgBtnLink {
    background-color: #fff;
    border: 1px solid #237d9e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #237d9e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.docPgBtnLink:hover {
    color: #237d9e;
}

.docPgBtnLink.active,
.docPgBtnLink:focus {
    background-color: #237d9e;
    color: #fff;
}

/* doctor page end */

/* department page start */

.alldept {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.alldeptInn {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 10px;
}

.alldetTop {
    padding-bottom: 20px;
    text-align: center;
}

.alldetTophead {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Times New Roman, serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.alldetTophead::after {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100px;
    height: 2px;
    background-color: #224855;
    left: 50%;
    transform: translateX(-50%);
}

.deptLi {
    width: 32%;
    border: 1px solid #E0E0E0;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background: #d7e6f3;
    transition-property: all;
    transition-duration: 700ms;
}

.deptLi img {
    width: 20px;
    height: 20px;
}

.deptLi:hover {
    background-color: #237d9e;
    color: #fff;
}

/* department modal */

.deptModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.detModalInn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.deptModal.openmodal {
    display: block;
}

.deptmodalclose {
    position: absolute;
    top: -18px;
    right: -18px;
    background-color: #272727;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.deptmodalclose i {
    font-size: 15px;
    color: #fff;
}

.deptModalTop {
    background-color: #237D9E;
    padding: 10px 8px;
}

.deptModalTop p {
    font-size: 17px;
    line-height: 26px;
    color: #fff;
    font-weight: 600;
}

.deptModalBtm {
    max-height: 250px;
    overflow-y: auto;
    margin: 10px 0px;
}

.deptModalBtm p {
    text-align: left;
    color: #000;
    font-size: 15px;
    line-height: 24px;
}

.deptModalBtm::-webkit-scrollbar {
    width: 4px;
}

.deptModalBtm::-webkit-scrollbar-track {
    background-color: #ccc;
}

.deptModalBtm::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
}

/* department page end */

/* career page start */

.CareerSec {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.CareerSecTop {
    text-align: center;
    padding: 10px 0px;
}

.CareerSecHead {
    color: #224855;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Times New Roman, serif;
}

.CareerSecBtm {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    padding-top: 15px;
}

.CareerCard {
    width: 32%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    height: 250px;
    overflow-y: auto;
    position: relative;
}

.jobHead {
    color: #000;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
}

.jobDet {
    color: #000;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
}

.jobDet span {
    color: #262626;
    font-weight: 400;
    font-size: 14px;
}

.careerCardBtm {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.careerCardBtn {
    background-color: rgb(249 121 74);
    padding: 8px 12px;
    color: #fff;
    border: none;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition-property: all;
    transition-duration: 700ms;
}

.careerCardBtn:hover {
    background-color: #237D9E;
    color: #fff;
}

/* why join us */

.facility {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h2 {
    color: #224855;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Times New Roman, serif;
}

.facility-card {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    border-radius: 10px;
    height: 400px;
    /* height: auto; */
}

.card-img {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.card-imgDiv {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition-property: all;
    transition-duration: 700ms;
}

.card-img:hover .card-imgDiv {
    transform: scale(1.15);
}

.facility-dtl {
    padding: 20px 10px;
}

.facility-dtl h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    white-space: wrap;
    overflow: hidden;
    margin-bottom: 10px;
    /* text-overflow: ellipsis; */
    color: #237d9e;
    text-align: center;
}

.facility-dtl P {
    font-size: 14px;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* join us form */

.career-frm {
    background: #9bb9b994;
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.career-frm-content {
    width: 100%;
    /* margin: 0 auto; */
}

.career-frm-heading {
    color: #005368;
    font-size: 30px;
    font-weight: 600;
}

.career-image-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.career-frm-image {
    width: 100%;
    height: 100%;
}

.career-frm-image img {
    width: 85%;
    height: auto;
}

.career-form label {
    color: #005368;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
}

.career-form input::placeholder {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.career-form textarea {
    resize: none;
}

.career-form textarea::placeholder {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.career-form .form-control-file {
    color: #000;
    font-size: 15px;
    border: none;
    font-style: italic;
}

.career-form .form-control {
    color: #000000;
    font-size: 18px;
}

.career-form .btns {
    padding: 8px 25px;
    background-color: rgb(58, 155, 58);
    border-radius: 5px;
    border: none;
    box-shadow: none;
    outline: 0;
    height: 45px;
}

.career-form a.form-send {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.career-form .btns:hover {
    background-color: #fc4c23;
    transform: translate(0px, -5px);
}

.career-join {
    margin-top: 30px;
    width: 100%;
}

.career-join-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.carrer-join-image {
    width: 1324px;
    display: flex;
    margin-top: 24px;
    width: 1324px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;
}

.career-join-single-image {
    background-size: cover;
    width: 300px;
    min-width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    height: 365px;
    position: relative;
    background-color: #0069a5;
    margin-right: 40px !important;
}

.career-join-single-image-last {
    margin-right: 0 !important;
}

.career-join-single-image::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 8px;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000006c;
}

.career-image-text-paragraph {
    top: 62%;
    left: 5%;
    right: 10%;
    width: 100%;
    position: absolute;
}

.career-image-text-paragraph h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.career-image-text-paragraph p {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}


/* career page end */

/* Responsive */

@media (max-width: 1399px) {

    /* header part start */

    /* .btmHeaderUl li a {
        font-size: 11px;
    } */

    .btmHeaderUl li {
        padding: 10px 10px;
    }

    .btmHeaderUl li i {
        margin-left: 5px;
    }

    /* header part end */
}

@media (max-width: 1199px) {

    /* home page start */

    /* header start */

    .btmHeaderUl li {
        padding: 10px 5px;
    }

    .btmHeaderUl li i {
        margin-left: 3px;
    }

    .HeadLogoTxt {
        font-size: 10px;
    }

    .headCerti {
        width: 90px;
        margin-right: 15px;
    }

    .headCard {
        padding: 0 25px;
        height: 40px;
    }

    .headCard p {
        font-size: 10px;
    }

    .avlblimg {
        width: 25px;
        height: 25px;
    }

    /* header end */

    /* why choose us section start */

    .whyusDet {
        width: 60%;
    }

    /* why choose us section end */

    /* connect with us start */

    .connectWithusInn {
        flex-wrap: wrap;
    }

    .connectTxt {
        width: 100%;
    }

    .connectVideo {
        width: 55%;
    }

    .connectTab {
        width: 40%;
    }

    /* connect with us end */

    /* excellence section start */

    .tabBtnLink {
        padding: 12px 10px !important;
    }

    .tabBtnLink img {
        margin-right: 5px;
    }

    /* excellence section end */

    /* patient speak section start */

    .patSpkRgt {
        height: 400px;
    }

    .patspkfigtwo {
        height: 200px;
    }

    .patspkfigOne {
        height: 130px;
    }

    /* patient speak section end */

    /* news section start */

    .newsimgFig {
        height: 200px;
    }

    .newsSlide {
        height: 320px;
    }

    /* news section end */

    /* home page end */

    /* contact page start */

    .contactTopDivHead {
        font-size: 16px;
    }

    .contactTopDivPara {
        font-size: 12px;
    }

    .contactTopLink {
        font-size: 12px;
    }

    .contactTopDiv i {
        font-size: 25px;
        margin-bottom: 5px;
    }

    /* contact page end */

    /* doctor page start */

    .docCardfig {
        width: 40%;
    }

    .docCardTxt {
        width: 60%;
    }

    /* doctor page end */
}

@media (max-width: 991px) {

    /* home page start */

    /* header part start */

    .RespMenu {
        display: block;
    }

    .headCallDiv,
    .SerInpDiv {
        display: none;
    }

    .btmheader {
        display: none;
    }

    /* header part end */

    /* banner part start */

    .banBtmInn {
        gap: 10px;
    }

    /* banner part end */

    /* why choose us section start */

    .whyusSecInn {
        flex-direction: column;
    }

    .whyusDet {
        width: 100%;
    }

    .whyusimg {
        width: 100%;
    }

    .whyusimgFig {
        height: 400px;
    }

    /* why choose us section end */

    /* excellence section start */

    .tabContentBtn {
        padding: 7px 12px;
    }

    .tabBigHead {
        font-size: 18px;
    }

    /* excellence section end */

    /* patient speak section start */

    .patientSpkBtm {
        flex-direction: column;
        gap: 25px;
    }

    .patSpkImg {
        width: 70%;
        margin: 0px auto;
    }

    .patSpkReview {
        width: 100%;
    }

    /* patient speak section end */

    /* home page end */

    /* contact page start */

    /* .contactform {
        padding: 30px 0px;
    } */

    .contactmain {
        padding: 40px 20px;
    }

    /* contact page end */

    /* career page start */

    .CareerSecBtm {
        justify-content: space-between;
        column-gap: 0;
        row-gap: 20px;
    }

    .CareerCard {
        width: 48%;
    }

    /* career page end */

}

@media (max-width: 767px) {

    /* home page start */

    /* banner part start */

    .banner-slide {
        height: 400px;
    }

    .banBtmInn {
        flex-direction: column;
        gap: 15px;
    }

    .banInfoDiv,
    .BanreadbtnDiv {
        width: 100%;
    }

    .Banreadbtn {
        width: 100px;
        height: 30px;
        font-size: 12px;
        padding: 5px 8px;
        font-size: 11px;
    }

    .banInfoDiv p {
        font-size: 12px;
    }

    .banInfoDiv h5 {
        font-size: 13px;
    }

    .banInfoDiv i {
        font-size: 15px;
    }

    /* banner part end */

    /* why choose us section start */

    .whyusHead {
        font-size: 20px;
    }

    /* why choose us section end */

    /* connect with us start */

    .connectwithUs {
        padding: 30px 0px;
    }

    .connectVideo {
        padding: 5px;
    }

    .connectVideo iframe {
        height: 260px;
    }

    .connectTab #tabs-content {
        height: 200px;
    }

    .connectTabUl li {
        border-radius: 8px;
        min-width: 55px;
    }

    .connectTabUl li a {
        padding: 5px 6px;
        font-size: 12px;
    }

    /* connect with us end */

    /* excellence section start */

    .HospitalAbtTop h5 {
        font-size: 20px;
    }

    .HospitalAbtTop p {
        font-size: 13px;
    }

    .HospitalAbtBtm {
        padding-top: 20px;
    }

    .HospitalAbtBtm .tab-content {
        padding-top: 15px;
    }

    .HospitalAbtBtm .nav {
        flex-direction: row;
        gap: 10px;
    }

    .tabBtnLink {
        padding: 5px 10px !important;
        margin: 0;
    }

    .tabBtnLink span {
        font-size: 11px;
    }

    .tabBtnLink img {
        width: 15px;
    }

    .HeartList ul li {
        width: 47%;
    }

    .HeartList ul {
        column-gap: 8px;
        row-gap: 20px;
    }

    .HeartList ul li a {
        font-size: 12px;
    }


    /* excellence section end */

    /* patient speak section start */

    .patientSpkTop h5 {
        font-size: 20px;
    }

    /* patient speak section end */

    /* news section start */

    .newsSecTop h5 {
        font-size: 20px;
    }

    /* news section end */

    /* home page end */

    /* contact page start */

    .contactTopInn {
        flex-wrap: wrap;
    }

    .contactTopDiv {
        width: 100%;
        color: #fff;
        border: none;
        padding: 15px 0px;
        border-bottom: 1px solid #8a8a8a;
        /* text-align: center; */
    }

    .contactTopDivPara,
    .contactTopDivHead {
        height: auto;
    }

    .contactmain {
        flex-direction: column;
        padding: 10px 15px;
    }

    .contactleft {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .contactright {
        width: 100%;
    }

    .contacttoppara {
        font-size: 14px;
    }

    .contacttophead {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contactpara {
        font-size: 14px;
        margin: 10px 0px;
    }

    .contacticonwrap {
        width: 25px;
        height: 25px;
    }

    /* contact page end */

    /* doctor page start */

    .docBtmDet {
        padding: 10px 0px;
    }

    .docBtmDetInn {
        flex-wrap: wrap;
        gap: 20px;
    }

    .docDetCard {
        width: 100%;
    }

    .docCardTxtTop {
        height: auto;
    }

    .docCardQuali {
        height: auto;
    }

    /* doctor page end */

    /* department page start */

    .alldetTophead {
        font-size: 20px;
    }

    .alldeptInn {
        justify-content: space-between;
    }

    .alldept {
        padding: 15px 0px;
    }

    .deptLi {
        width: 48%;
        font-size: 12px;
        padding: 8px 5px;
    }

    /* department page end */

    /* career page start */

    .jobHead {
        font-size: 14px;
    }

    .jobDet,
    .jobDet span {
        font-size: 13px;
    }

    /* career page end */
}

@media (max-width: 575px) {

    /* home page start */

    /* book modal */

    .bookBtn {
        padding: 8px 15px;
        font-size: 12px;
    }

    .bookUsInn {
        width: 90%;
    }

    .bookradio {
        width: 100%;
    }

    .bookradio label {
        font-size: 13px;
    }

    .bookradio input {
        width: 11px;
        height: 11px;
    }

    .sendotp {
        width: 40%;
        padding: 7px 5px;
        font-size: 11px;
    }

    .bookusHead {
        font-size: 15px;
    }

    .modalfrmsubmit {
        padding: 7px 10px;
        font-size: 12px;
    }

    /* why choose us section start */

    .whyusSection {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .whyusimgFig {
        height: auto;
    }

    .whychoosePoint {
        width: 100%;
        padding: 5px 0px;
    }

    .whyusPara {
        font-size: 13px;
    }

    /* why choose us section end */

    /* connect with us start */

    .connectwithUs {
        padding: 20px 0px;
    }

    .connectFig {
        width: 40px;
    }

    .connectBigHead {
        margin-bottom: 8px;
        line-height: 24px;
        font-size: 16px;
    }

    .connectPara {
        font-size: 13px;
    }

    .connectHead {
        margin-bottom: 10px;
        font-size: 14px;
        margin-top: 8px;
    }

    .connectVideo {
        width: 100%;
        order: 3;
    }

    .connectTab {
        width: 100%;
    }

    /* connect with us end */

    /* excellence section start */

    .tabBigHead {
        font-size: 15px;
        line-height: 25px;
    }

    /* excellence section end */

    /* patient speak section start */

    .patSpkImg {
        width: 100%;
    }

    .patSpkRgt {
        height: 300px;
    }

    .patspkfigtwo {
        height: 130px;
        bottom: 10px;
    }

    .patspkfigOne {
        width: 100%;
    }

    /* patient speak section end */

    .newsSwiper .swiper-button-next::after,
    .newsSwiper .swiper-button-prev::after {
        font-size: 22px;
    }

    /* home page end */

    /* contact page start */

    .contactleft {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .contactform {
        padding: 20px 0px;
    }

    .contact_top {
        margin-bottom: 15px;
    }

    .contact_top,
    .contactpara {
        font-size: 13px;
    }

    .contacthead {
        font-size: 18px;
    }

    .contactadd {
        padding: 5px 0px;
    }

    .contactadd p {
        font-size: 12px;
    }

    .contactright form input::placeholder {
        font-size: 12px;
    }

    .contactright form select::placeholder {
        font-size: 12px;
    }

    .contactright form textarea::placeholder {
        font-size: 12px;
    }

    .contactright form select {
        font-size: 12px;
    }

    .submitbtn {
        width: 120px;
        height: 30px;
        font-size: 14px;
    }

    .contactright form {
        padding: 15px 0px;
    }

    .contactright {
        padding: 10px 15px;
    }

    .contactadd i {
        font-size: 17px;
    }

    /* contact page end */

    /* career page start */

    .CareerCard {
        width: 100%;
        height: auto;
    }

    .careerCardBtm {
        position: static;
        margin-top: 15px;
    }

    .careerCardBtn {
        width: 120px;
    }

    .facility {
        padding: 15px 0px;
    }

    .facility-dtl h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .facility-dtl P {
        font-size: 13px;
        line-height: 23px;
    }

    .facility-card {
        height: 350px;
    }

    /* career page end */
}

@media (max-width: 480px) {

    /* home page start */

    /* header part start */

    .topHeadInn {
        flex-direction: column;
        gap: 15px;
    }

    .midheaderInn {
        padding: 10px 0px;
    }

    .HeadLogoTxt {
        font-size: 7px;
    }

    .headLogoFig {
        width: 35px;
    }

    /* .HeadLogoTxt {
        font-size: 20px;
    } */

    .respHeadLi {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    .respHeadLi i {
        font-size: 12px;
    }

    /* header part end */

    /* banner part start */

    .banner-slide {
        height: 270px;
    }

    /* banner part end */

    /* home page end */

    /* doctor page start */

    .docCardName {
        font-size: 13px;
    }

    .docCardProf {
        font-size: 12px;
    }

    .docCardQuali {
        font-size: 12px;
    }

    .docCardBookbtn {
        margin-top: 12px;
        padding: 8px 10px;
        font-size: 13px;
    }

    .docTopInn select {
        min-width: auto;
    }

    /* doctor page end */

    /* department page start */

    .deptLi {
        width: 100%;
    }

    /* department page end */

    /* career page start */

    .card-img {
        height: 125px;
    }


    /* career page end */
}

@media (max-width: 420px) {

    /* doctor page start */

    .docDetCard {
        flex-direction: column;
    }

    .docCardTxt {
        width: 100%;
        text-align: center;
    }

    .docCardfig {
        margin: 0px auto;
    }

    .docTopInn select {
        font-size: 13px;
        padding: 6px 8px;
    }

    /* doctor page end */
}