* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
}

html.body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

p,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.custContainer {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

/* book button */

.bookBtndiv {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 14px 30px;
    background: #FFC107;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.bookBtndiv p {
    font-size: 13px;
}

/* Header start */

.header {
    width: 100%;
    height: auto;
}

.topheader {
    background-color: #237d9e;
    color: #fff;
    padding: 10px 0px;
}

.topHeadInn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderIconSide {
    display: flex;
    gap: 15px;
}

.HeaderIconSide i {
    color: #fff;
    font-size: 15px;
}

.headerDet {
    display: flex;
    gap: 15px;
}

.lwrInnerRhtLi {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lwrInrPara {
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.lwrRhtIconDiv {
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 5px 0px rgb(255 255 255 / 50%), 3px 3px 5px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.lwrRhtIconDiv i {
    font-size: 12px;
    color: #237d9e;
}

/* mid header */

.midheaderInn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.HeadLogoTxt {
    color: #237d9e;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}

.SerInpDiv {
    width: 40%;
    font-size: 12px;
    height: 40px;
    line-height: 16px;
    color: #9A9A9A;
    background-color: #fff;
    border: 1px solid #D0D0D0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.SerInpDiv input {
    width: 93%;
    height: 100%;
    padding: 5px 10px;
    border: none;
    outline: 0;
    font-size: 14px;
}

.headSerBtn {
    width: 7%;
    height: 100%;
    background: none;
    border: none;
}

.headSerBtn i {
    font-size: 15px;
}

.headSerBtn:hover {
    background-color: #237d9e;
}

.headSerBtn:hover i {
    color: #fff;
}

.headCallDiv {
    display: flex;
    align-items: center;
    gap: 3px;
}

.headCerti {
    width: 110px;
    margin-right: 20px;
}

.headCerti img {
    width: 100%;
    height: 100%;
}

.headCard {
    color: #fff;
    padding: 0 32px;
    letter-spacing: .5px;
    text-transform: uppercase;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.headCard h5 {
    font-size: 10px;
}

.headCard p {
    font-size: 12px;
    font-weight: 600;
}

.headCard:hover {
    background-color: #237d9e !important;
}

.avlblimg {
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}

.avlblimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.RespMenu {
    display: none;
}

.respHeadUl {
    display: flex;
}

.respHeadLi {
    list-style-type: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    box-shadow: 0 0 5px 0 #2c2c2cc0;
    background-color: #fff;
    transition-property: all;
    transition-duration: 300ms;
    border-radius: 50%;
}

.respHeadLiAn {
    color: #237d9e;
    font-size: 18px;
    background-color: transparent;
    border: 0;
}

/* bottom header */

.btmheader {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

.btmHeaderUl {
    display: flex;
    /* justify-content: center; */
    /* gap: 5%; */
}

.btmHeaderUl li {
    padding: 12px 14px;
}

.btmHeaderUl li:first-child {
    padding-left: 0;
}

.btmHeaderUl li a {
    font-size: 12px;
    color: #000;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btmHeaderUl li i {
    color: #000;
    margin-left: 8px;
}

.btmHeaderUl li:hover a,
.btmHeaderUl li:hover i {
    color: #237d9e;
}

/* Header end */

/* Banner part start */

.banner {
    width: 100%;
    height: auto;
}

.banner-slide {
    width: 100%;
    height: 500px;
}

.banner-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.banBtm {
    background-color: #FCBA12;
    padding: 20px 0px;
}

.banBtmInn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.banInfoDiv {
    display: flex;
    gap: 15px;
}

.banInfoDiv i {
    color: #000;
    font-size: 20px;
}

.banInfoDiv h5 {
    color: #262626;
    display: block;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.banInfoDiv p {
    color: #000000;
    font-size: 13px;
    line-height: 20px;
}

.Banreadbtn {
    width: 120px;
    height: 40px;
    border: 1px solid #000;
    background: transparent;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banreadbtn:hover {
    background: #237D9E;
    border: 1px solid #237D9E;
    color: #fff;
    border: none;
    border-radius: 0;
}

/* Banner part end */

/* why choose us section start */

.whyusSection {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.whyusSecInn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.whyusDet {
    width: 55%;
}

.whyusimg {
    width: 40%;
    height: auto;
}

.whyusimgFig {
    width: 100%;
    height: auto;
}

.whyusimgFig img {
    width: 100%;
    height: 100%;
}

.whyusSmallHead {
    color: #9A9A9A;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

.whyusHead {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    margin-top: 15px;
    margin-bottom: 10px;
}

.whyusPara {
    color: #000;
    font-size: 14px;
    line-height: 22px;
}

.whyChooseDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.whychoosePoint {
    width: 48%;
    padding: 15px 0px;
    position: relative;
}

.whychoosePoint i {
    color: #224855;
    font-size: 15px;
    margin-right: 5px;
}

.whyChooseHead {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}

.whyChoosePara {
    color: #262626;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

/* why choose us section end */

/* excellence section start */

.HospitalAbt {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.HospitalAbtTop {
    text-align: center;
}

.HospitalAbtTop h5 {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
}

.HospitalAbtTop p {
    color: #000;
    font-size: 14px;
    line-height: 24px;
    max-width: 496px;
    margin: 15px auto;
}

/* tab panel */

.HospitalAbtBtm {
    padding-top: 40px;
}

.tabBtnLink {
    background-color: #f7f5f5 !important;
    color: #000;
    padding: 12px 24px !important;
    margin-bottom: 3px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

.tabBtnLink span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.tabBtnLink img {
    width: 18px;
    margin-right: 10px;
}

.tabBtnLink.active {
    background-color: #237d9e !important;
    color: #fff;
}

.tabBtnLink:hover {
    background-color: #237d9e !important;
    color: #fff !important;
}

.tabBan {
    width: 100%;
    height: auto;
}

.tabBan img {
    width: 100%;
    height: 100%;
}

.tabContentHead {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

.tabContentPara {
    color: #262626;
    font-size: 13px;
    line-height: 22px;
    margin-top: 0;
}

.HeartList {
    border-top: 1px solid #EAEAEA;
    padding: 20px 0px;
    margin-top: 15px;
}

.HeartList ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    padding: 15px 0px;
}

.HeartList ul li {
    width: 30%;
}

.HeartList ul li::before {
    content: '\f058';
    font-family: fontawesome;
    color: #237d9e;
    font-size: 14px;
    margin-right: 8px;
}

.HeartList ul li a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.tabContentBtnDiv {
    padding-top: 20px;
}

.tabContentBtn {
    border: 1px solid #000;
    background: transparent;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 0;
    outline: 0;
    color: #000;
}

.tabContentBtn:hover {
    background: #237d9e;
    color: #fff;
    text-decoration: none;
    border: none;
}

.tabBigHead {
    color: #224855;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.highlightList ul li {
    color: #262626;
    font-size: 13px;
    line-height: 26px;
    position: relative;
    padding: 10px 0px;
    border-bottom: 1px solid #F7F5F5;
}

.highlightList ul li::before {
    content: '\f14a';
    font-family: fontawesome;
    color: #224855;
    font-size: 13px;
    margin-right: 8px;
}

/* excellence section end */

/* patient speak start */

.patientSpeak {
    width: 100%;
    height: auto;
    padding: 30px 0px;
    background-color: rgba(247, 245, 245, 1);
}

.patientSpkTop {
    text-align: center;
}

.patientSpkTop p {
    color: #9A9A9A;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.patientSpkTop h5 {
    font-size: 25px;
    font-weight: 600;
    color: #224855;
    margin-bottom: 10px;
}

.patientSpkBtm {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.patSpkImg {
    width: 45%;
    height: auto;
    display: flex;
    gap: 10px;
}

.patspklft {
    width: 40%;
    position: relative;
}

.patspkfigOne{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 30px;
}

.patspkfigOne img{
    width: 100%;
    height: 100%;
}

.patspkfigtwo{
    width: 100%;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 25px;
}

.patspkfigtwo img{
    width: 100%;
    height: 100%;
}

.patSpkRgt{
    width: 60%;
    height: 480px;
}

.patSpkRgt img{
    width: 100%;
    height: 100%;
}

.patSpkReview {
    width: 50%;
    height: auto;
}

.patSpkRvInn {
    max-height: 380px;
    overflow: hidden;
}

.PatSpkTxt {
    border-bottom: 1px solid #EAEAEA;
    padding: 20px 0px;
}

.PatSpkTxt:first-child {
    padding-top: 0;
}

.patReviewName {
    color: #262626;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
}

.verifyTxt {
    color: #FCBA12;
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: .5px;
    margin-top: 8px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.verifyTxt i {
    margin-right: 5px;
    font-size: 11px;
}

.patReview {
    color: #262626;
    font-size: 12px;
    line-height: 20px;
}

.viewAllReviewbtn {
    padding-top: 30px;
}

.viewallBtn {
    color: #224855;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: bold;
    border: none;
    background: none;
    outline: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewallBtn i{
    color: #224855;
    font-size: 12px;
    padding-left: 5px;
}

.viewallBtn:hover{
    text-decoration: underline;
    color: #224855;
}

/* patient speak end */

/* Responsive */

@media (max-width: 1399px) {

    /* header part start */

    .btmHeaderUl li a {
        font-size: 11px;
    }

    .btmHeaderUl li {
        padding: 10px 10px;
    }

    .btmHeaderUl li i {
        margin-left: 5px;
    }

    /* header part end */
}

@media (max-width: 1199px) {

    /* header start */

    .btmHeaderUl li {
        padding: 10px 5px;
    }

    .btmHeaderUl li i {
        margin-left: 3px;
    }

    .btmHeaderUl li a {
        font-size: 10px;
    }

    /* header end */

    /* why choose us section start */

    .whyusDet {
        width: 60%;
    }

    /* why choose us section end */

    /* excellence section start */

    .tabBtnLink {
        padding: 12px 10px !important;
    }

    .tabBtnLink img {
        margin-right: 5px;
    }

    /* excellence section end */

    /* patient speak section start */

    .patSpkRgt {
        height: 400px;
    }

    .patspkfigtwo{
        height: 200px;
    }

    .patspkfigOne{
        height: 130px;
    }

    /* patient speak section end */
}

@media (max-width: 991px) {

    /* header part start */

    .RespMenu {
        display: block;
    }

    .headCallDiv,
    .SerInpDiv {
        display: none;
    }

    .btmheader {
        display: none;
    }

    /* header part end */

    /* banner part start */

    .banBtmInn {
        gap: 10px;
    }

    /* banner part end */

    /* why choose us section start */

    .whyusSecInn {
        flex-direction: column;
    }

    .whyusDet {
        width: 100%;
    }

    .whyusimg {
        width: 100%;
    }

    .whyusimgFig {
        height: 400px;
    }

    /* why choose us section end */

    /* excellence section start */

    .tabContentBtn {
        padding: 7px 12px;
    }

    .tabBigHead {
        font-size: 18px;
    }

    /* excellence section end */

    /* patient speak section start */

    .patientSpkBtm{
        flex-direction: column;
        gap: 25px;
    }

    .patSpkImg{
        width: 70%;
        margin: 0px auto;
    }

    .patSpkReview {
        width: 100%;
    }

    /* patient speak section end */
}

@media (max-width: 767px) {

    /* banner part start */

    .banner-slide {
        height: 400px;
    }

    .banBtmInn {
        flex-direction: column;
        gap: 15px;
    }

    .banInfoDiv,
    .BanreadbtnDiv {
        width: 100%;
    }

    .Banreadbtn {
        width: 100px;
        height: 30px;
        font-size: 12px;
        padding: 5px 8px;
        font-size: 11px;
    }

    .banInfoDiv p {
        font-size: 12px;
    }

    .banInfoDiv h5 {
        font-size: 13px;
    }

    .banInfoDiv i {
        font-size: 15px;
    }

    /* banner part end */

    /* why choose us section start */

    .whyusHead {
        font-size: 20px;
    }

    /* why choose us section end */

    /* excellence section start */

    .HospitalAbtTop h5 {
        font-size: 20px;
    }

    .HospitalAbtTop p {
        font-size: 13px;
    }

    .HospitalAbtBtm {
        padding-top: 20px;
    }

    .HeartList ul li {
        width: 47%;
    }

    .HeartList ul {
        column-gap: 8px;
        row-gap: 20px;
    }

    .HeartList ul li a {
        font-size: 12px;
    }

    /* excellence section end */

    /* patient speak section start */

    .patientSpkTop h5 {
        font-size: 20px;
    }

    /* patient speak section end */
}

@media (max-width: 575px) {

    /* book button */

    .bookBtndiv {
        padding: 8px 15px;
    }

    .bookBtndiv p {
        font-size: 12px;
    }

    /* why choose us section start */

    .whyusSection {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .whyusimgFig {
        height: auto;
    }

    .whychoosePoint {
        width: 100%;
        padding: 5px 0px;
    }

    .whyusPara {
        font-size: 13px;
    }

    /* why choose us section end */

    /* excellence section start */

    .tabBigHead {
        font-size: 15px;
        line-height: 25px;
    }

    /* excellence section end */

    /* patient speak section start */

    .patSpkImg {
        width: 100%;
    }

    .patSpkRgt {
        height: 300px;
    }

    .patspkfigtwo{
        height: 130px;
        bottom: 10px;
    }

    .patspkfigOne{
        width: 100%;
    }


    /* patient speak section end */
}

@media (max-width: 480px) {

    /* header part start */

    .topHeadInn {
        flex-direction: column;
        gap: 15px;
    }

    .midheaderInn {
        padding: 10px 0px;
    }

    .HeadLogoTxt {
        font-size: 20px;
    }

    .respHeadLi {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    .respHeadLi i {
        font-size: 12px;
    }

    /* header part end */

    /* banner part start */

    .banner-slide {
        height: 270px;
    }

    /* banner part end */
}